spring:
  datasource:
    url: jdbc:mysql://localhost:3306/paymentSystem
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: create-drop

    show-sql: true

    properties:
      hibernate:
        format_sql: true

  application:
    name: payment-team-project

  profiles:
    active: local

  config:
    import: optional:classpath:client-api-config.yml

    thymeleaf:
      cache: false
      prefix: classpath:/templates/
      suffix: .html
      mode: HTML
      encoding: UTF-8

    security:
      user:
        name: demo
        password: demo123

  server:
    port: 8080
    servlet:
      context-path: /
